<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationTesting">
    <listeners>
        <listener class-name="com.automation.utilities.Reporting"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="AutomationTesting">
        <classes>
            <class name="com.automation.testCases.CheckCRMLogin"/>
        </classes>
    </test>
</suite>
